h2{
    font-size:30px
}
*{
    background-color:white;
    color:#003399; 
    background-image: url ('http://7-themes.com/data_images/out/67/6999936-cool-websites-background.jpg')
}
h4{
    text-decoration: underline;
    font-size:25px
}
p{
    font-size:22px;
}
li{
    font-size:25px;
}
